:root {
    --accent-color: #F47933;
    --secondary-accent-color: #8C1E41;
    --white: #FFFFFF;
    --text-color: black;
    --gray: #747474;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 2em;
}

p{
    font-size: 1.5em;
}



.sidebar {
    height: 100%;
    width: 200px;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 40px;
    padding-left: 30px;
    text-align: left;
}
    
.sidebar div {
    padding: 8px;
    font-size: 24px;
    display: block;
    font-weight: bold;
}

.sidebar div a {
    color: var(--text-color);
}

.sidebar div .active-link {
    color: var(--accent-color);
}

body{
    margin-left: 200px;
    padding-top: 40px;
    align-items: center;
    text-align: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

body h1{
    margin-top: 0;
    margin-bottom: 0;
}

body h2{
    margin-bottom: 50px;
    margin-top: 10px;
}

body p{
    text-align: left;
}


/*Events Page*/

.event-div{
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
}

.event-div h2{
    margin-bottom: 10px;
}

/* .contact-us-item{
    position: relative;
    bottom: 0px;
} */

/*Code Blocks Page*/
.code-block-div{
    text-align: left;
    border: solid black 1px;
    background-color: var(--gray);
    /* display: grid; */
    padding: 15px;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 25px; */

}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
}

/* .code-block-div h2 {
    grid-column: span 2;
} */

.code-block-div p {
    margin: 0;
}

.live-html-asset-block{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
    border: solid black 1px;
    min-height: 200px;
}

.live-html-asset-accessible-button {
    background-color: var(--secondary-accent-color);
    color: var(--white);
    padding: 10px;
    cursor: pointer;
    box-shadow: black 2px 2px;

}

.live-html-asset-accessible-button:hover, .live-html-asset-accessible-button::selection {
    box-shadow: black 3px 3px;
}

.live-html-asset-accessible-button:active {
    box-shadow: none;
}

code, pre {
    background-color: beige;
    display: flex;
    padding: 15px;
    align-content: center;
    font-size: 20px;
}

pre {
    border: black solid 1px;
    position: relative;
}

.copy-image {
    width: 20px;   
    height: 29px;
    position: absolute;
    right: 2px;
    top: 2px;
    cursor: pointer;
}

